In [ ]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
train = pd.read_csv('../../data/train.csv')
test = pd.read_csv('../../data/test.csv')

train.head()

In [ ]:
test.head()

In [ ]:
# 将Name  Ticket扔掉，这些没有意义
train = train.drop(['PassengerId','Name','Ticket'], axis=1)
test = test.drop(['PassengerId','Name','Ticket'],axis=1)

In [ ]:
train.head()

In [ ]:
train['Has_Cabin'] = train["Cabin"].apply(lambda x: 0 if type(x) == float else 1)
test['Has_Cabin'] = test["Cabin"].apply(lambda x: 0 if type(x) == float else 1)
train = train.drop('Cabin',axis=1)
test = test.drop('Cabin',axis=1)
train.head()

In [ ]:
test.head()

In [ ]:
#通过观察数据知道了Embarked这一列只有两个nan值，而大多数都是S，所以将nan改为S
train['Embarked'] = train['Embarked'].fillna('S')

# plot
sns.factorplot('Embarked','Survived', data=train,size=4,aspect=3)
plt.show()

In [ ]:
fig, (axis1,axis2,axis3) = plt.subplots(1,3,figsize=(15,5))
sns.countplot(x='Embarked', data=train, ax=axis1)
sns.countplot(x='Survived', hue="Embarked", data=train, order=[1,0], ax=axis2)

plt.show()

In [ ]:
titanic_df = train
test_df = test
#mapping Embarked
titanic_df['Embarked'] = titanic_df['Embarked'].map({'S':0,'C':1,'Q':2}).astype(int)
test_df['Embarked'] = test_df['Embarked'].map({'S':0,'C':1,'Q':2}).astype(int)

In [ ]:
titanic_df.head()

In [ ]:
## fare_________________________________
# only for test_df, since there is a missing "Fare" values
test_df['Fare'].fillna(test_df['Fare'].median(), inplace = True)


# convert from float to int
titanic_df['Fare'] = titanic_df['Fare'].astype(int)
test_df['Fare']    = test_df['Fare'].astype(int)

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.Age

In [ ]:
#Age_____________________________________
#fill NAN values in mean age
average_age_titanic   = titanic_df["Age"].mean()
average_age_test = test_df['Age'].mean()
titanic_df["Age"][np.isnan(titanic_df["Age"])] = average_age_titanic
test_df["Age"][np.isnan(test_df["Age"])] = average_age_test
print(average_age_titanic,average_age_test)
titanic_df.Age

In [ ]:
# convert from float to int
titanic_df['Age'] = titanic_df['Age'].astype(int)
test_df['Age']    = test_df['Age'].astype(int)
titanic_df.Age

In [ ]:
#Family
#对于一个人来说，有没有家人对一个人能否活下来才是重要的，至于有多少个，可能没有多大的关系
titanic_df['Family'] =  titanic_df["Parch"] + titanic_df["SibSp"]
titanic_df['Family'].loc[titanic_df['Family'] > 0] = 1
titanic_df['Family'].loc[titanic_df['Family'] == 0] = 0

test_df['Family'] =  test_df["Parch"] + test_df["SibSp"]
test_df['Family'].loc[test_df['Family'] > 0] = 1
test_df['Family'].loc[test_df['Family'] == 0] = 0

titanic_df.head

In [ ]:
titanic_df.head()

In [ ]:
# drop Parch & SibSp
titanic_df = titanic_df.drop(['SibSp','Parch'], axis=1)
test_df    = test_df.drop(['SibSp','Parch'], axis=1)

In [ ]:
##sex______________
# As we see, children(age < ~16) on aboard seem to have a high chances for Survival.
# So, we can classify passengers as males, females, and child
def get_person(passenger):
    age,sex = passenger
    return 'child' if age < 16 else sex

titanic_df['Person'] = titanic_df[['Age','Sex']].apply(get_person,axis=1)
test_df['Person']    = test_df[['Age','Sex']].apply(get_person,axis=1)

# No need to use Sex column since we created Person column
titanic_df.drop(['Sex'],axis=1,inplace=True)
test_df.drop(['Sex'],axis=1,inplace=True)
titanic_df.head()

In [ ]:

# create dummy variables for Person column, & drop Male as it has the lowest average of survived passengers
person_dummies_titanic  = pd.get_dummies(titanic_df['Person'])
person_dummies_titanic.columns = ['Child','Female','Male']
person_dummies_titanic.drop(['Male'], axis=1, inplace=True)
person_dummies_titanic.head()
person_dummies_test  = pd.get_dummies(test_df['Person'])
person_dummies_test.columns = ['Child','Female','Male']
person_dummies_test.drop(['Male'], axis=1, inplace=True)

titanic_df = titanic_df.join(person_dummies_titanic)
test_df    = test_df.join(person_dummies_test)

In [ ]:
titanic_df.head()

In [ ]:
train = titanic_df.drop(['Name','Ticket','PassengerId','Person'],axis=1)
test = test_df.drop(['Name','Ticket','Person'],axis=1)

In [ ]:
train.head()

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns
trainPath = '../../data/train.csv'
testPath = '../../data/test.csv'

In [2]:
def get_person(passenger):
    age,sex = passenger
    return 'child' if age < 16 else sex

In [5]:
train = pd.read_csv(trainPath)
test = pd.read_csv(testPath)

# 将PassengerId, Name, Ticket扔掉，这些没有意义
titanic_df = train.drop(['PassengerId','Name','Ticket'], axis=1)
test_df = test.drop(['PassengerId','Name','Ticket'],axis=1)

# As we see, children(age < ~16) on aboard seem to have a high chances for Survival.
# So, we can classify passengers as males, females, and child
titanic_df['Person'] = titanic_df[['Age','Sex']].apply(get_person,axis=1)
test_df['Person'] = test_df[['Age','Sex']].apply(get_person,axis=1)
# No need to use Sex column since we created Person column
titanic_df.drop(['Sex'],axis=1,inplace=True)
test_df.drop(['Sex'],axis=1,inplace=True)

# create dummy variables for Person column, & drop Male as it has the lowest average of survived passengers
person_dummies_titanic  = pd.get_dummies(titanic_df['Person'])
person_dummies_titanic.columns = ['Child','Female','Male']
person_dummies_titanic.drop(['Male'], axis=1, inplace=True)

person_dummies_test  = pd.get_dummies(test_df['Person'])
person_dummies_test.columns = ['Child','Female','Male']
person_dummies_test.drop(['Male'], axis=1, inplace=True)

titanic_df = titanic_df.join(person_dummies_titanic)
test_df    = test_df.join(person_dummies_test)

titanic_df.drop(['Person'],axis=1,inplace=True)
test_df.drop(['Person'],axis=1,inplace=True)


# get average, std, and number of NaN values in titanic_df
average_age_titanic   = titanic_df["Age"].mean()
std_age_titanic       = titanic_df["Age"].std()
count_nan_age_titanic = titanic_df["Age"].isnull().sum()

# get average, std, and number of NaN values in test_df
average_age_test   = test_df["Age"].mean()
std_age_test       = test_df["Age"].std()
count_nan_age_test = test_df["Age"].isnull().sum()

# generate random numbers between (mean - std) & (mean + std)
rand_1 = np.random.randint(average_age_titanic - std_age_titanic, average_age_titanic + std_age_titanic, size = count_nan_age_titanic)
rand_2 = np.random.randint(average_age_test - std_age_test, average_age_test + std_age_test, size = count_nan_age_test)

# fill NaN values in Age column with random values generated
titanic_df["Age"][np.isnan(titanic_df["Age"])] = rand_1
test_df["Age"][np.isnan(test_df["Age"])] = rand_2

# convert from float to int
titanic_df['Age'] = titanic_df['Age'].astype(int)
test_df['Age']    = test_df['Age'].astype(int)

# Instead of having two columns Parch & SibSp, 
# we can have only one column represent if the passenger had any family member aboard or not,
# Meaning, if having any family member(whether parent, brother, ...etc) will increase chances of Survival or not.
titanic_df['Family'] =  titanic_df["Parch"] + titanic_df["SibSp"]
titanic_df['Family'].loc[titanic_df['Family'] > 0] = 1
titanic_df['Family'].loc[titanic_df['Family'] == 0] = 0

test_df['Family'] =  test_df["Parch"] + test_df["SibSp"]
test_df['Family'].loc[test_df['Family'] > 0] = 1
test_df['Family'].loc[test_df['Family'] == 0] = 0

# drop Parch & SibSp
titanic_df = titanic_df.drop(['SibSp','Parch'], axis=1)
test_df    = test_df.drop(['SibSp','Parch'], axis=1)

# only for test_df, since there is a missing "Fare" values
test_df["Fare"].fillna(test_df["Fare"].median(), inplace=True)

# convert from float to int
titanic_df['Fare'] = titanic_df['Fare'].astype(int)
test_df['Fare']    = test_df['Fare'].astype(int)

#Cabin
titanic_df['Has_Cabin'] = titanic_df["Cabin"].apply(lambda x: 0 if type(x) == float else 1)
test_df['Has_Cabin'] = test_df["Cabin"].apply(lambda x: 0 if type(x) == float else 1)
titanic_df = titanic_df.drop('Cabin',axis=1)
test_df = test_df.drop('Cabin',axis=1)

# Mapping Embarked
# only in titanic_df, fill the two missing values with the most occurred value, which is "S".
titanic_df["Embarked"] = titanic_df["Embarked"].fillna("S")
titanic_df['Embarked'] = titanic_df['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
test_df['Embarked'] = test_df['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

x_train = titanic_df.drop('Survived',axis=1).values
y_train = titanic_df['Survived'].values
x_test = test_df.values

C:\1mySoftwares\anaconda5\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\1mySoftwares\anaconda5\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\1mySoftwares\anaconda5\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [6]:
titanic_df.head()

   Survived  Pclass  Age  Fare  Embarked  Child  Female  Family  Has_Cabin
0         0       3   22     7         0      0       0       1          0
1         1       1   38    71         1      0       1       1          1
2         1       3   26     7         0      0       1       0          0
3         1       1   35    53         0      0       1       1          1
4         0       3   35     8         0      0       0       0          0

In [7]:
test_df.head()

   Pclass  Age  Fare  Embarked  Child  Female  Family  Has_Cabin
0       3   34     7         2      0       0       0          0
1       3   47     7         0      0       1       1          0
2       2   62     9         2      0       0       0          0
3       3   27     8         0      0       0       0          0
4       3   22    12         0      0       1       1          0